{
    "presets": ["@babel/preset-env", "@babel/preset-react", "mobx"],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime",
        "@vue/babel-plugin-transform-vue-jsx",
        ["import", {"libraryName":"ant-design-vue","libraryDirectory":"es","style":true}]
    ]
}