#home_content {
    
    height: auto;

}


article {
    background-image: url('../static/image/1.jpg');
    background-size: 100% auto;
    margin-top: 5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #c05c7e;
    z-index: -1;
    opacity: 0.9;
    transition: all 0.4s ease;
    width: 80%;
    
}

article h1 {
    font-size: 24px;
    font-weight: 500;
    color: floralwhite;
}

article p {
    font-size: 16px;
    color: #f3826f;
}

article:hover {
    opacity: 1;
}


.img-show {
    width: 100%;
    height: auto;
}

.footer-me {
    margin-bottom: 30px;
}